
body,html {
    margin: 0;
    padding: 0;
	height: 100%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}


.scrolltotop{
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    background: #035096;
    z-index: 5000;
    left: auto;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 100%;
    transition: 0.3s;
}

.chevronUp {
    border-left: 2px solid #EFAB1F;
    border-top: 2px solid #EFAB1F;
    width: 8px; height: 8px;
    transform: rotate(45deg);
    margin: 18px auto;
    cursor: pointer;
}

.scrolltotop:hover {
    opacity: 1;    
}



/*-----PreHeader-----*/
.preheader{
    width: 100%;
    height: 50px;
    background: #035096;
    position: relative;
}

.scrolledPreHeader{
    top: -50px;
    transition-duration: 0.3s;
}

                                /*--Phone--*/
.phone{
    width: 110px;
    height: 20px;
    position: absolute;
    margin: 15px;
    left: 80px;
}
.phone img{
    width: 20px;
    height: 20px;
    float: left;
}

.phone a{
    font-size: 12px;
    color: #EFAB1F;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 3px 0 0 4px;
    text-decoration: none;
}

.phone a:hover{
    color: rgb(255, 193, 68); text-decoration: underline;
}

                                /*--Mail--*/
.mail{
    width: 180px;
    height: 20px;
    position: absolute;
    margin: 15px;
    left: 240px;
}
.mail img{
    width: 20px;
    height: 20px;
    float: left;
}

.mail a{
    font-size: 12px;
    color: #EFAB1F;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 3px 0 0 4px;
    text-decoration: none;
}

.mail a:hover{
    color: rgb(255, 193, 68); text-decoration: underline;
}

/*--------HEADER---------*/


.header {
    width: 100%;
    height: 650px;
    position: relative;
    background: url(img/azienda.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*box-shadow: inset 0 0 0 1000px #00000085;*/
}

.firsttext{
    width: 40%;
    height: 300px;
    top: 10%;
    margin-left: 150px;
    margin-right: auto;
    position: relative;
}

.firsttext p{
    font-size: 240%;
    text-align: center;
    max-width: 70%;
    margin: auto;
   /*color: #035096;*/
	color: #035096;
   /* text-shadow: 1px 1px 1px #495866;*/
    
}

.button {
    background-color: transparent ;
    /*color: #035096;*/
	color: #035096;
    width: 140px;
    padding: 12px 0px;
    border: 2px solid #035096;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px auto;
    display:block;
	transition: 0.3s;
    /*-webkit-box-shadow: 1px 1px 1px #EFAB1F;
            box-shadow: 1px 1px 1px #EFAB1F;*/
}
.button:hover {
    color: #103754;
    background: rgba(255, 170, 1, 0.733);
    border: 2px solid #035096;
    /*-webkit-box-shadow: 1px 1px 1px #103754;
			box-shadow: 1px 1px 1px #103754;*/
}

.firsttext h1{
    font-size: 15px;
    font-weight: 300;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3px;
    color: #F19436;
    animation: pulse2 2s infinite;
    cursor: pointer;
}

.firsttext h1:hover{
    color: #035096;
}

.chevron {
    border-right: 2px solid #035096;
    border-bottom: 2px solid #035096;
    width: 22px; height: 22px;
    transform: rotate(-225deg);
    margin: 0px auto;
    cursor: pointer;
    animation: pulse 2s infinite;
    transition: 0.3s;
}

.chevron:hover{
    border-right: 2px solid #F19436;
    border-bottom: 2px solid #F19436;
}


/*--------NAVBAR---------*/

.navbar {
    height: 100px;
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 90;
    transition: 0.3s;
}

.scrolledNav {
    transition: 0.3s;
    /*box-shadow: 0px 3px 5px #EFAB1F;
    border-bottom: 2px solid #EFAB1F;
    top: 0px;*/
}


.logo {
    height: 100px;
    width: 350px;
    position: absolute;
    float: left;
    left: 120px;
    background: url(img/LogoDMZ.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.menu {
	position: absolute;
    height: 100px;
    width: auto;
    right: 125px;
    float: right;
}
.menu li {
    display: inline-block;
    list-style-type: none;
}
.menu li a {
	font-size: 16px;
	color: #035096;
    padding: 25px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    /*text-shadow: 1px 1px 1px #bdbdbd;*/
    -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.menu li a:hover {color: #F19436;    border-bottom: 1px solid #F19436; }



/*---------Prodotti--------*/

.pageProdotti{
    height: 600px;
    width: 100%;
    position: relative;
    background: #f4f6f7;

}

.pageProdotti h1{
	text-align: center;
	font-weight: 700;
	font-size: 240%;
	padding-top: 30px;
	margin: 0;
	color: #035096;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;	
}

.pageProdotti h2{
	text-align: center;
	font-weight: 500;
	font-size: 110%;
    margin: 30px 150px;
	color: #717171;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.column {
    flex-basis: 100%;
    height: 450px;
    margin-top: 20px;
    
}

.column > .imageProduct {
	margin: 0 auto;
	width: 250px;
    height: 250px;
    transition: 0.3s;
    border-radius: 100%;
    /*-webkit-animation-name: fadeInUp;
  	animation-name: fadeInUp;
	animation-duration: 2s;*/
}

.column #pr1 {
	background: url(img/img1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.column #pr2 {
	background: url(img/img2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.column #pr3 {
	background: url(img/img3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.column h3{
    text-align: center;
    font-size: 110%;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #035096;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
            user-select: none;
}
.column p {
	text-align: center;
	font-size: 100%;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
	color: #717171;
	transition: 0.3s;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
            user-select: none;
}

.column  p:hover  { color: #EFAB1F; }

.column .imageProduct:hover { -webkit-filter: brightness(1.1); filter: brightness(1.1); }

/*main {
  max-width: 1200px;
  margin: 0 auto;
}



/*---------Sezione 2--------*/

.section2{
    height: 500px;
    width: 90%;
    position: relative;
    background: #fff;
    margin: 50px auto;
    
}

.autColumn {
    flex-basis: 100%;
    height: 500px;
}

#autColumn1 {
	background: url(img/PLC.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#autColumn2 {
	background: transparent;
}


.textProducts{
	background: transparent;
	height: 70%;
    width: 95%;
    top: 50%;
    position: relative;
	margin: 0 auto;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.textProducts h1 {
	text-align: center;
	margin: 90px 0 10px 0;
	color: #035096;
	font-size: 240%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.textProducts h2 {
	text-align: center;
	margin: 0 50px;
	color: #717171;;
	font-size: 120%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
            user-select: none;
    transition: 0.3s;
}

.textProducts .button{
	color: #035096;
	border: 2px solid #035096;
}

.textProducts .button:hover{
	color: #EFAB1F;
    background: rgba(16,55,84,0.73);
    border: 2px solid #103754;;
}



#prodotto1 h1 {
	color: #EFAB1F;
}

#prodotto1 .button {
	color: #EFAB1F;
	border: 2px solid #EFAB1F;
}

#prodotto1 .button:hover{
	color: #035096;
    background: rgba(255, 170, 1, 0.733);
    border: 2px solid #EFAB1F;
}



/*---------Sezione 3--------*/

.section3{
    height: 800px;
    width: 100%;
    position: relative;
    margin: 50px 0; 
}

.chisiamo{
    height: 300px;
    width: 100%;
    position: relative;
    background-color: #f4f6f7;
    border-bottom: 1px solid #b6b6b6;
}

.obbiettivi{
    height: 500px;
    width: 100%;
    position: relative;
    background: transparent;
}

.chisiamo h1{
	text-align: center;
	font-weight: 700;
	font-size: 240%;
	padding-top: 30px;
	margin: 0;
	color: #035096;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;	
}

.chisiamo h2{
    text-align: left;
    font-weight: 300;
	font-size: 200%;
    margin: 30px 150px;
    letter-spacing: 5px;
    font-style: italic;
	color: #717171;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.chisiamo strong {
    color: #EFAB1F;
    font-style: normal;
    font-weight: 700;
    font-size: 130%;
}

.chisiamo h3 {
    text-align: left;
	font-size: 95%;
    margin: 30px 150px;
    font-weight: 400;
    color: #717171;
}

#leftColumn {
    margin: 0 auto;
}
#rightColumn {
    margin: 0 auto;
}

#leftColumn h1{
    text-align: left;
	font-weight: 700;
	font-size: 300%;
    margin: 30px 150px 5px;
    letter-spacing: 3px;
    color: #035096;
}

.imgTask{
    margin: 0 264px;
    width: 40px;
    height: 40px;
}
.imgTask img{
    height: 40px;
}

#leftColumn h2{
    text-align: left;
	font-size: 95%;
    margin: 5px 150px;
    font-weight: 400;
    color: #717171;
    max-width: 40%;
}

#leftColumn a{
    text-align: left;
    margin: 30px 150px;
    font-size: 90%;
    text-decoration: underline;
    font-style: italic;
    color: #000;
    transition: 0.3s;
    display: none;
}

#leftColumn a:hover{
    color: #EFAB1F;
}

.columnTasks {
    flex-basis: 100%;
    height: 500px;
}

.columnTasks h1{
    font-size: 150%;
    font-weight: 700;
    margin:0;
    margin-top: 50px;
    color: #000;
}

.columnTasks h2{
    text-align: left;
	font-size: 95%;
    margin-top: 15px;
    font-weight: 400;
    color: #717171;
    max-width: 40%;
}

.columnTasks a{
    font-size: 90%;
    text-decoration: underline;
    font-style: italic;
    color: #000;
    transition: 0.3s;
}
.columnTasks a:hover{
    color: #EFAB1F;
}

.columnTasks img{
    height: 15px;
    padding: 2px;
}

#columnUp1{
    width: 50%;
    height: 250px;
    margin: 0;
}
#columnUp2{
    width: 50%;
    height: 250px;
    margin: 0;
}
#columnDown1{
    width: 50%;
    height: 250px;
    margin: 0;
}
#columnDown2{
    width: 50%;
    height: 250px;
    margin: 0;
}








.privacy{
    height: 1200px;
    width: 90%;
    position: relative;
    background: #fff;
    margin: 0 auto;
    
}



/*---------Footer--------*/

.footer{
    width: 100%;
    height: 300px;
    position: relative;
    background: #fff;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    margin: 10px 0 0 0;
}

.footerColumn{
    flex-basis: 100%;
    height: 200px;
    margin: 50px 0;
}

.footerColumn h1{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
    color: #717171;
}

.footerColumn h2{
    font-size: 15px;
    font-weight: 200;
}

strong{
    color: #929292;
    margin-right: 5px;
}

.footerColumn a{
    font-size: 15px;
    text-decoration: underline;
    color: #000;
    transition: 0.3s;
}
.footerColumn a:hover{
    color: #EFAB1F;
}

.footerColumn #textFooter{
    font-size: 15px;
    color: #000;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-left: 4px;
}

.footerColumn #textFooterLink{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-left: 4px;
    transition: 0.3s;
}

.footerColumn #textFooterLink:hover{
    color: #EFAB1F;
}

.phoneFooter{
    width: 130px;
    height: 15px;
    left: 80px;
    margin-bottom: 5px;
}

.phoneFooter img{
    width: 15px;
    height: 15px;
    float: left;
}

.mailFooter{
    width: 200px;
    height: 15px;
    left: 80px;
    margin-bottom: 5px;
}

.mailFooter img{
    width: 15px;
    height: 15px;
    float: left;
}

.positionFooter{
    width: 280px;
    height: 15px;
    left: 80px;
    margin-bottom: 5px;
}

.positionFooter img{
    width: 15px;
    height: 15px;
    float: left;
}

.orariFooter{
    width: 280px;
    height: 15px;
    left: 80px;
    margin-bottom: 5px;
}

.orariFooter img{
    width: 15px;
    height: 15px;
    float: left;
}

.mappa{
    width: 100%;
    height: 100%;
}


.mappa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mappa img:hover{ -webkit-filter: brightness(1.1); filter: brightness(1.1) }


.footer .row{
    max-width: 85%;
    margin: 0 auto;
}



/*---------Copyright--------*/

.copyright {
    position: relative;
    width: 100%;
    height: 50px;
    background: #035096;
}

.DMZCopyright {
    position: relative;
    float: left;
    height: 50px;
    margin-left: 80px;
}

.DMZCopyright p{
    text-align: center;
    line-height: 50px;
    color: #EFAB1F;
    font-size: 15px;
    margin: 0;
}

.DMZCopyright strong{
    color: #EFAB1F;
}

/*---------Burger Menu--------*/

.toggle {
    position: relative;
    right: 20px;
    top: 3px;
    float: right;
}

.burger {
	position: relative;
    padding: 5px;
    top: 10px;
    width: 35px;
    height: 35px;
    display: none;
    z-index: 110;
}

.burger li {
    width: 35px;
    height: 3px;
    margin: 7px 0;
    border-radius: 20px;
    list-style: none;
    background-color: #103754;
    position: absolute;
    display: block;
    transition: .3s;
    z-index: 110;
}

.burger li:nth-child(1){
    top: 0px;
}

.burger li:nth-child(2){
    top: 12px;    
}

.burger li:nth-child(3) {
    top: 24px;
}

.burger.open li:nth-child(1){
    transform: rotate(45deg);
    top: 10px;
    left: 5px;
}

.burger.open li:nth-child(3){
    transform: rotate(-45deg);
    top: 10px;
    left: 5px;
}

.burger.open li:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
    transition: 0.3s;
}

/*--------Responsive Menu---------*/

.responsiveMenu {
    position: fixed;
    width: 100%;
    height: 340px;
    background: #fff;
    opacity: 0.9;
    top: 100px;
    display: none;
    z-index: 100;
    transition: .3s;
    text-align: center;
    box-shadow: 0px 1px #000;
}

.responsiveMenu ul {
    margin: auto;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    overflow: scroll;
}

.responsiveMenu li a{
    font-size: 25px;
	color: #035096;
    padding: 20px;
    display: block;
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}
.responsiveMenu li a:active{
    color: #F19436;
}

.responsiveMenu.active {
    display: block;
    transition: .3s;
}

/*--------Right Squares---------*/

.rightSquares {
    top: 50%;
    left: 90%;
    position: fixed;
    z-index: 95;
}

.rightSquares li{
    width: 15px;
    height: 15px;
    margin-top: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: #2B3A42;
    border-radius: 100%;
    display: block;
    list-style-type: none;
    transition: 0.3s;
}

.rightSquares a{
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
}

.rightSquares li:hover {background-color: #32A2A8; box-shadow:  5px 5px 2px #797979;} 


/*----------Responsive----------*/


/*--Smartphone Vertical--*/
@media (max-width: 1023px) {
    
    .logo{
        left: 0;
    }
    .menu{
        right: 0;
        width: 450px;
    }
    .rightSquares{
        display: none;
    }
}

@media (max-width: 768px){
    .preheader{
        display: none;
    }
    .navbar{
        position: fixed;
        background: transparent;
    }
    .scrolledNav{
        position: fixed;
        background: white;
        opacity: 0.9;
    }
    .firsttext{
        margin-left: auto;
        width: 95%;
        top: 18%;
    }
    .firsttext p{
        max-width: 100%;
    }
    .header{
        background: url(img/aziendaSmart.jpg) no-repeat fixed;
        width: 100%;
        height: 600px;
    }
    .logo{
        width: 80%;
    }
    .menu{
        display: none;
    }
    .burger {
        display: block;
    }
	.pageProdotti{
    	height: 1500px;
    }
    .pageProdotti h2{
        margin: 30px auto;
    }
	.column{
		 height: 375px;
	}
	.section2{
		height: 800px;
	}
	.autColumn{
		height: 250px;
		margin: 25px 0 50px;
	}
	.textProducts h1{
		margin-top: 0;
    }
    .footer{
        height: 580px;
    }
    .footerColumn{
        height: 170px;
        margin: 0;
    }
    .copyright{
        height: auto;
    }
    .DMZCopyright{
        float: none;
        margin-left: auto;
    }
    .chevron {
        margin: 0 auto;
    }
    .button {
        margin-bottom: 5px;
    }
    .section3{
        height: auto;
    }
    .chisiamo {
        height: auto;
    }
    .chisiamo h2{
        margin: 30px 20px;
        text-align: center;
    }
    .chisiamo h3{
        text-align: center;
        margin: 30px 20px;
    }
    .obbiettivi{
        height: 430px;
    }
    #rightColumn{
        display: none;
    }
    #leftColumn h1{
        margin: 30px 20px 10px;
        text-align: center;
    }
    #leftColumn h2{
        margin: 10px auto;
        text-align: center;
        max-width: 45%;
    }
    #leftColumn a{
        display: block;
        margin: 0 150px;
    }
    .imgTask{
        margin: 0 auto;
    }
    .scrolltotop{
        right: 20px;
        bottom: 30px;
    }
}

/*--Smartphone Horizontal--*/

@media (max-width: 824px){  /*--Pixel 2--*/
    .preheader{
        display: none;
    }
    .logo{
        width: 80%;
    }
    .menu{
        display: none;
    }
    .burger {
        display: block;
    }
}

@media only screen and (max-width: 569px) and (orientation: landscape){  /*--iPhone 5--*/
    .preheader{
        display: none;
    }
    .logo{
        width: 80%;
    }
    .menu{
        display: none;
    }
    .burger {
        display: block;
    }
	.responsiveMenu {
		height: 220px;
	}
	.responsiveMenu li a{
    	font-size: 15px;
    }
    .firsttext{
        margin-left: auto;
        width: 95%;
        top: 18%;
    }
}


/*--iPad Pro && all Tablet--*/

@media only screen and 
(height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape), 
(width: 1024px) and (height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait){  
    .preheader{
        display: none;
    }

    .logo{
        width: 40%;
    }
    .menu{
        display: none;
    }
    .burger {
        display: block;
    }
	 .logo{
        left: 0;
    }
    .menu{
        right: 0;
        width: 450px;
    }
    .rightSquares{
        display: none;
    }
	.responsiveMenu {
		height: 400px;
	}
	.responsiveMenu li a{
    	font-size: 45px;
	}
	.responsiveMenu li{
		height: 100px;
	}
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}




@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0) rotate(45deg);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px) rotate(45deg);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0) rotate(45deg);
    }
}


@keyframes pulse2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}